In [11]:
import pandas as pd
import numpy as np
import os

Let's consider the following approach:
1) read by chunks;

2) save to different files of smaller size;

3) preprocess them in order to reduce the overall complexity;

4) merge these files together to get one dataframe

In [32]:
i = 1
chunksize = 100000
for chunk in pd.read_csv(r"C:\Users\danys\Downloads\train_data.csv", chunksize=chunksize):
    chunk.to_csv(r"C:\Users\danys\Downloads\train\train_data_"+str(i)+".csv")
    i += 1
    chunksize += 100000

In [33]:
print(len(os.listdir(r"C:\Users\danys\Downloads\train")))

56

In [34]:
categorical_variables = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']

In [62]:
for i in range(1, len(os.listdir(r"C:\Users\danys\Downloads\train")) + 1):
    file = pd.read_csv(r"C:\Users\danys\Downloads\train\train_data_"+str(i)+".csv")
    pd.to_datetime(file.S_2)
    for column in categorical_variables:
        file[column] = file[column].convert_dtypes()
    for col in file.columns:
        if file[col].dtype == 'float64':
            file[col] = file[col].astype('float32')
    file.to_csv(r"C:\Users\danys\Downloads\train_new\train_data_"+str(i)+".csv")

In [4]:
#final_df = pd.DataFrame()

In [ ]:
#for i in os.listdir(r"C:\Users\danys\Downloads\train_new"):
#    file = pd.read_csv(r"C:\Users\danys\Downloads\train_new" + "\\" + str(i))
#    final_df = pd.concat([final_df, file], ignore_index=True, axis=1)

In [15]:
df = pd.read_csv(r"C:\Users\danys\Downloads\train_new\train_data_1.csv")

In [16]:
df.groupby('customer_ID').agg({'S_2': ['min', 'max']})

                                                           S_2
                                                           min         max
customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fb...  2017-03-09  2018-03-13
00000fd6641609c6ece5454664794f0340ad84dddce9a26...  2017-03-01  2018-03-25
00001b22f846c82c51f6e3958ccd81970162bae8b007e80...  2017-03-11  2018-03-12
000041bdba6ecadd89a52d11886e8eaaec9325906c97233...  2017-03-31  2018-03-29
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad...  2017-03-30  2018-03-30
...                                                        ...         ...
049d799511c2d516bf98c1f5f0a1a42b6487f3774a54a15...  2017-03-25  2018-03-31
049dc60e06ade9b0bf946472126eed3bb531227f60c7c4f...  2017-03-17  2018-03-26
049dcc14cb874dbcd3b473f17e7eb375e6f13ef591bf0f8...  2017-03-31  2018-03-02
049dd5e7b5a6895c4f8b179362d8e91f26ebf0b6c95e99e...  2017-03-08  2018-03-08
049e0948e285ec6767bf07e6e3f5e0919821ee200e359dc...  2017-03-29  2017-04-28

[8294 rows x 2 columns]